$color-text-title: #fc5a0a;

.form {
    padding: 30px;
}

.feedback-form {

    h1 {
        margin: 0 0 30px 0;
        color: $color-text-title;
    }

    .form-group {
//        width: 33%;
//        float: left;

        input {
            width: 100%;
            height: 48px;
            padding: 15px;
            font-size: 14px;
            color: #6a6d6f;
            border: 1px solid #a0a1a2;
            margin-bottom: 15px;
        }

        textarea {
            width: 100%;
            height: 240px !important;
            padding: 15px;
            font-size: 14px;
            color: #a9aaab;
            border: 1px solid #a0a1a2;
            resize: none;
        }

        button {
            border: none;
            padding: 24px 30px;
            background: #272d33;
            border-radius: 0;
            font-size: 20px;
            color: #fff;
            text-transform: uppercase;
            margin-top: 28px;
        }
    }
}